@using BusHelperDAL
@{
    ViewBag.Title = "Create";
    List<Beacon> beacons = ViewBag.Beacons;
    List<BusStop> busStops = ViewBag.BusStops;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mapping Beacon & Bus Stop
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- general form elements -->
    <div class="box box-primary">
        <!-- form start -->
        <form role="form" action="@Url.Action("Add", "Beacon_BusStop")" method="post">
            <div class="box-body">
                <div class="form-group">
                    <label for="beacon_id">Beacon</label>
                    <select name="beacon_id" id="beacon_id" class="form-control">
                        @foreach (var item in beacons)
                        {
                            <option value="@item.id">@item.id - @item.uuid</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="bus_stop_id">Bus stop</label>
                    <select name="bus_stop_id" id="bus_stop_id" class="form-control">
                        @foreach (var item in busStops)
                        {
                            <option value="@item.id">@item.id - @item.name</option>
                        }
                    </select>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</section>