@using BusHelperDAL
@{
    ViewBag.Title = "Index";
    BusInfo_BusStop obj = ViewBag.obj;
    List<BusInfo> busInfos = ViewBag.BusInfos;
    List<BusStop> busStops = ViewBag.BusStops;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mapping BusInfo & Bus Stop
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- general form elements -->
    <div class="box box-primary">
        <!-- form start -->
        <form role="form" action="@Url.Action("Update", "BusInfo_BusStop")" method="post">
            <input type="hidden" name="id" value="@obj.id" />
            <div class="box-body">
                <div class="form-group">
                    <label for="bus_info_id">Bus Info</label>
                    <select name="bus_info_id" id="bus_info_id" class="form-control">
                        @foreach (var item in busInfos)
                        {
                            <option @((item.id == obj.bus_info_id) ? "selected" : "") value="@item.id">@item.number</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="bus_stop_id">BusStop</label>
                    <select name="bus_stop_id" id="bus_stop_id" class="form-control">
                        @foreach (var item in busStops)
                        {
                            <option @((item.id == obj.bus_stop_id) ? "selected" : "") value="@item.id">@item.name</option>
                        }
                    </select>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</section>