@using BusHelperDAL
@{
    ViewBag.Title = "Create";
    List<BusStop> busStops = ViewBag.BusStops;
    List<UserInfo> userInfos = ViewBag.UserInfos;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        History
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- general form elements -->
    <div class="box box-primary">
        <!-- form start -->
        <form role="form" action="@Url.Action("Add", "History")" method="post">
            <div class="box-body">
                <div class="form-group">
                    <label for="bus_stop_id">Bus Info</label>
                    <select name="bus_stop_id" id="bus_stop_id" class="form-control">
                        @foreach (var item in busStops)
                        {
                            <option value="@item.id">@item.name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="user_id">User Info</label>
                    <select name="user_id" id="user_id" class="form-control">
                        @foreach (var item in userInfos)
                        {
                            <option value="@item.id">@item.username</option>
                        }
                    </select>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</section>