@using BusHelperDAL
@{
    ViewBag.Title = "Index";
    List<History> list = ViewBag.List;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        History
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <a href="/History/Create" class="btn btn-success">Create</a>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="datatable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Bus Stop</th>
                        <th>User Info</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in list)
                    {
                        <tr>
                            <td>@item.BusStop.name</td>
                            <td>@item.UserInfo.username</td>
                            <td>
                                <form action="@Url.Action("Edit","History")" method="post" class="inline">
                                    <input type="hidden" name="id" value="@item.id" />
                                    <button class="btn btn-default">Edit</button>
                                </form>
                                <form action="@Url.Action("Delete","History")" method="post" class="inline">
                                    <input type="hidden" name="id" value="@item.id" />
                                    <button class="btn btn-default">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section scripts {
    <script>
        $(function () {
            $("#datatable").DataTable();
        })
    </script>
}
