
@{
    ViewBag.Title = "Index";
    BusHelperDAL.BusInfo obj = ViewBag.obj;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage Bus Infos
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- general form elements -->
    <div class="box box-primary">
        <!-- form start -->
        <form role="form" action="@Url.Action("Update", "BusInfo")" method="post">
            <input type="hidden" name="id" value="@obj.id" />
            <div class="box-body">
                <div class="form-group">
                    <label for="number">Number</label>
                    <input name="number" value="@obj.number" id="number" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="start_time">Start time</label>
                    <input name="start_time" value="@obj.start_time" id="start_time" type="time" class="form-control">
                </div>
                <div class="form-group">
                    <label for="end_time">End time</label>
                    <input name="end_time" value="@obj.end_time" id="end_time" type="time" class="form-control">
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</section>