@using BusHelperDAL
@{
    ViewBag.Title = "Create";
    List<BusInfo> busInfos = ViewBag.BusInfos;
    List<Vehicle> vehicles = ViewBag.Vehicles;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mapping Bus & Vehicle
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- general form elements -->
    <div class="box box-primary">
        <!-- form start -->
        <form role="form" action="@Url.Action("Add", "BusInfo_Vehicle")" method="post">
            <div class="box-body">
                <div class="form-group">
                    <label for="bus_info_id">Bus Info</label>
                    <select name="bus_info_id" id="bus_info_id" class="form-control">
                        @foreach (var item in busInfos)
                        {
                            <option value="@item.id">@item.number</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="vehicle_id">Vehicle</label>
                    <select name="vehicle_id" id="vehicle_id" class="form-control">
                        @foreach (var item in vehicles)
                        {
                            <option value="@item.id">@item.number - @item.driver_name</option>
                        }
                    </select>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</section>